@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* This file is for your main application CSS */
.font-inter {
    font-family: 'Inter', sans-serif;
}

html {
    background: "#F6F6F6";
}

.fade {
    animation: fade;
    -webkit-animation: fade;
}


@keyframes fade {
    from {
      opacity: 0;  
    }
    to {
        opacity: 1;
    }
}